### Question 00
import necessary libraries in the box below

In [ ]:
import numpy as np

### Question 01
Create a NumPy array from [1,2,3, ..., 12].

In [ ]:
array_01 = np._( ___ )

### Question 02
Print the type of array array_01

In [ ]:
print(___(array_01))

### Question 03
Reshape array_01 into 3 x 4 matrix.

In [ ]:
array_03 = array_01.___(___)

### Question 04
Get the length of the array_03.

In [ ]:
print(___.___)

### Question 05
Print the second element of the second row in array_03.

In [ ]:
print(array_03[___,___])

### Question 06
Multiply all elements of array_03 by 2.

In [ ]:
array_06 = ___

### Question 07
Add 5 to all elements of array_06.

In [ ]:
print(___)

### Question 07
Create an array of 18 zeros.

In [ ]:
array_07 = np.___(18)

### Question 08
Create an array of 20 fours.

In [ ]:
array_08 = np.___(20) * ___

### Question 09
Create numbers from 0 to 20.

In [ ]:
array_09 = np.___(20)

### Question 10
Create 24 random numbers between 0 and 1.
Then, Reshape it into matrix with 6 rows.

In [ ]:
array_10 = np.___.___(___)
array_10 = ___.reshape(___)

### Question 11
Convert array_08 to String type.

In [ ]:
array_11 = array_08.astype(___)

### Question 12
Find sum of all rows in array_11

In [ ]:
array_12 = ___
print(array_12.sum(___ = 0))

### Question 13
Find mean of elements of array_10 'in' each row.

In [ ]:
array_14 = ___

print(array_14.___(axis = ___))

### Question 14
Reverse the array_10.

In [ ]:
print(array_10[___])

### Question 15
Add array [1,2,3,4,5,6] to array_10.

In [ ]:
array_15 = np.___([1,2,3,4,5,6])
print(array_10 + ___ )

### Question 16
Print odd column of array_10

In [ ]:
print(array_10[___:___:___])

### Question 17
Create 3x3 zeros matrix.

In [ ]:
array_17 = ___.___((3,3))

### Question 18
Sort the array_10.

In [ ]:
print(___.___(array_10))

### Question 19
Transpose the array_10

In [ ]:
print(___.___)

### Question 20
Create even numbers from 11 to 56.

In [ ]:
array_20 = np.___(11,56,___)